<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">org.gjt.mm.mysql.Driver</property>
		<property name="hibernate.connection.password">2002137305</property>
		<property name="hibernate.connection.url">jdbc:mysql://147.128.114.136/shopping</property>
		<property name="hibernate.connection.username">nan</property>
		<property name="hibernate.default_schema">shopping</property>
		<!-- SQL dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">1</property>
		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>
		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>
		<!-- Drop and re-create the database schema on startup -->
		<!-- property name="hbm2ddl.auto">create</property -->
		<mapping resource="module/User.hbm.xml" />
		<mapping resource="module/Cart.hbm.xml" />
		<mapping resource="module/Item.hbm.xml" />
		<mapping resource="module/Order.hbm.xml" />
	</session-factory>
</hibernate-configuration>
